body {
    direction: rtl;
    unicode-bidi: embed;
    letter-spacing: 0;
}

ul,
ol {
    padding: 0 30px 0 0;
}

dd {
    margin: 0 20px 20px 0;
}

select {
    background-position: 8px calc(50% + 3px);
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 5px;
    right: auto;
}

blockquote {
    padding-right: 1em;
    padding-left: 0;
    border-left: none;
    border-right: 4px solid #000;
}

.wp-block-quote.is-large:not(.is-style-plain) cite, .wp-block-quote.is-large:not(.is-style-plain) footer,
.wp-block-quote.is-style-large:not(.is-style-plain) cite, .wp-block-quote.is-style-large:not(.is-style-plain) footer {
    text-align: left;
}

table {
    text-align: right;
}

.wp-block-categories-list ul, .wp-block-categories__list ul {
    padding: 0 20px 0 0;
}

.wp-block-page-list ul {
    padding: 0 20px 0 0;
}

.wc-block-product-categories-list ul {
    padding: 0 20px 0 0;
}

.wc-block-product-categories-list--has-images ul {
    padding: 0;
}

.widget_product_categories ul ul {
    padding: 0 20px 0 0;
}

.widget_categories ul ul {
    padding: 0 20px 0 0;
}

.widget_pages ul ul {
    padding: 0 20px 0 0;
}

.widget_nav_menu ul ul {
    padding: 0 20px 0 0;
}

.footer-canvas-menu .rivax-header-v-nav li.menu-item-has-children > a::after {
    margin-left: 0;
    margin-right: 10px;
}

.title-animation-underline,
.title-animation-underline-big {
    background-position: 100% bottom;
}

.title-animation-cover{
    background-position: 100% bottom;
}

.title-animation-overline {
    background-position: 100% top;
}

.title-animation-underline-in-out,
.title-animation-underline-in-out-big {
    background-position: left 0% bottom;
}

.title-animation-underline-in-out:hover,
.title-animation-underline-in-out-big:hover {
    background-position: right 0% bottom;
}

.title-animation-cover-in-out {
    background-position: left 0% bottom;
}

.title-animation-cover-in-out:hover {
    background-position: right 0% bottom;
}

.title-animation-middle-in-out {
    background-position: left 0% center;
}

.title-animation-middle-in-out:hover {
    background-position: right 0% center;
}

.title-animation-overline-in-out {
    background-position: left 0% top;
}

.title-animation-overline-in-out:hover {
    background-position: right 0% top;
}

.page-content-wrapper {
    direction: ltr;
}

.page-content-wrapper > * {
    direction: rtl;
}

.comment-list .children {
    padding-right: 50px;
}

.comment-list .comment-author img {
    margin-left: 20px;
    margin-right: 0;
}

.comment-list .comment-metadata {
    margin-right: 10px;
    margin-left: 0;
    border-right: 1px solid #97a6b3;
    border-left: none;
    padding-right: 10px;
    padding-left: 0;
}

.comment-list .comment-content {
    margin-right: 80px;
    margin-left: 0;
}

.comment-list .trackback .comment-content, .comment-list .pingback .comment-content {
    margin-right: 0;
}

.comment-list .reply a {
    margin-right: 80px;
    margin-left: 0;
}

.comment-form .form-author {
    float: right;
    margin-left: 1%;
    margin-right: 0;
}

.comment-form .form-email {
    margin-right: 1%;
    margin-left: 0;
    float: left;
}

.comment-form .form-website {
    width: 100%;
}

#cancel-comment-reply-link {
    margin-right: 10px;
    margin-left: 0;
}


@media screen and (max-width: 767px) {
    .comment-list .children {
        padding-right: 0;
    }
    .comment-list .comment-metadata {
        border: none;
    }
    .comment-form .form-author, .comment-form .form-email {
        margin-right: 0;
        margin-left: 0;
    }
}

.blog-archive-title .post-count {
    text-align: left;
}

.blog-archive-search-form .submit {
    left: 20px;
    right: auto;
}

.blog-archive-author-box .avatar {
    margin-left: 40px;
    margin-right: 40px;
}

.blog-archive-title .blog-archive-author-box .post-count {
    float: left;
}

.single-hero-title .category a {
    margin-left: 7px;
    margin-right: 0;
    letter-spacing: 0;
}

.single-hero-title .meta, .single-hero-title .meta-details {
    letter-spacing: 0;
}

.single-hero-title .author-avatar img {
    margin-left: 10px;
    margin-right: 0;
}

.single-hero-title .author-name {
    text-align: right;
}

.single-hero-link-container .link-icon {
    margin-left: 25px;
    margin-right: 0;
}


.single-hero-layout-2 .content-container {
    margin-left: -300px;
    margin-right: 0;
}

@media (max-width: 767px) {
    .single-hero-layout-2 .content-container {
        margin: 0 0 50px 0;
    }
}

.single-hero-layout-4 .single-hero-title .meta {
    margin-left: -280px;
    margin-right: 0;
}

.single-hero-layout-4 .layout-13-bg {
    right: 0;
    left: auto;
    border-radius: 40px 0 0 40px;
}

@media (max-width: 767px) {
    .single-hero-layout-4 .single-hero-title .meta {
        margin-left: 0;
    }
}


.single-post-tags a {
    margin-left: 10px;
    margin-right: 0;
    letter-spacing: 0;
}

.single-share-box-link .share-link-text {
    direction: ltr;
}

.single-share-box-link .copied-popup-text {
    right: 50%;
    left: auto;
    transform: translateX(50%);
    letter-spacing: 0;
}

@media screen and (max-width: 550px) {
    .single-share-box-link .copied-popup-text {
        left: 0;
        right: auto;
        transform: translateX(0);
    }
}

.single-author-box-avatar {
    margin-left: 40px;
    margin-right: 0;
}

.single-author-box-desc .more-articles {
    float: left;
}

.single-author-box-desc .written-by {
    letter-spacing: 0;
}

@media screen and (max-width: 575px) {
    .single-author-box-desc .more-articles {
        float: none;
    }
}

.single-next-prev-posts .image img {
    margin-left: 20px;
    margin-right: 0;
}

.single-fixed-next-prev-posts .next-post .post-wrapper {
    text-align: right;
}

.single-fixed-next-prev-posts .prev-post .post-wrapper {
    text-align: left;
}

.single-fixed-next-prev-posts .next-post .post-wrapper .image img {
    margin-left: 20px;
    margin-right: 0;
}

.single-fixed-next-prev-posts .prev-post .post-wrapper .image img {
    margin-right: 20px;
    margin-left: 0;
}

.rivax-toc-items.toc-hierarchically li.level-2 {
    margin-right: 25px;
    margin-left: 0;
}

.rivax-toc-items.toc-hierarchically li.level-3 {
    margin-right: 50px;
    margin-left: 0;
}

.rivax-toc-items.toc-hierarchically li.level-4 {
    margin-right: 75px;
    margin-left: 0;
}

.rivax-toc-items.toc-hierarchically li.level-5 {
    margin-right: 100px;
    margin-left: 0;
}

.offcanvas-opener {
    text-align: right;
}

.offcanvas-opener .hamburger span:before, .offcanvas-opener .hamburger span:after{
    transform: translateX(200%);
}

.offcanvas-opener .hamburger span:after{
    transform: translateX(0);
}

.offcanvas-opener:hover .hamburger span:after{
    transform: translateX(-200%);
}

.popup-search-form .submit {
    left: 20px;
    right: auto;
}

.inline-search-form .submit {
    left: 0;
    right: auto;
}

.rivax-header-nav > li.menu-item > a {
    padding: 0 0.5em;
    margin: 0 7px;
}

.rivax-header-nav > li.menu-item:first-of-type > a {
    margin-right: 0;
    margin-left: 7px;
}

.rivax-header-nav > li.menu-item:last-of-type > a {
    margin-left: 0;
    margin-right: 7px;
}

.rivax-header-nav > li.menu-item-has-children > a {
    padding-left: 1em;
    padding-right: 0.5em;
}

.rivax-header-nav > li.menu-item-has-children > a::after {
    left: 0;
    right: auto;
}

.rivax-header-nav .sub-menu {
    right: -10px;
    left: auto;
    transform: translateX(20px);
}

.rivax-header-nav .sub-menu .sub-menu {
    right: 100%;
    left: auto;
    transform-origin: right;
}

.rivax-header-nav li.menu-item:hover > .sub-menu {
    transform: translateX(0);
}

.rivax-header-nav .sub-menu li.menu-item > a:hover span, .rivax-header-nav .sub-menu li.current-menu-item > a span, .rivax-header-nav .sub-menu li.current-menu-ancestor > a span {
    transform: translateX(-1.2em);
}

.rivax-header-nav-wrapper.hover-style-1 > ul > li.menu-item > a::before,
.rivax-header-nav-wrapper.hover-style-2 > ul > li.menu-item > a::before,
.rivax-header-nav-wrapper.hover-style-3 > ul > li.menu-item > a::before {
    right: 0;
    left: auto;
}

.rivax-header-nav-wrapper.hover-style-2 > ul > li.menu-item > a::before {
    transform-origin: right;
}

.rivax-header-nav-wrapper.hover-style-3 > ul > li.menu-item > a::before {
    transform-origin: left center;
}

.rivax-header-nav-wrapper.hover-style-3 > ul > li.menu-item > a:hover::before {
    transform-origin: right center;
}

.rivax-header-nav-wrapper.hover-style-4 > ul > li.menu-item-has-children > a {
    padding-left: 1.5em;
    padding-right: 1em;
}

.rivax-header-nav-wrapper.hover-style-4 > ul > li.menu-item-has-children > a::after {
    left: 0.5em;
    right: auto;
}

.rivax-header-nav .sub-menu.mega-menu-content {
    right: 0;
    left: auto;
}

.rivax-header-nav li.rivax-mega-menu-3-col .sub-menu, .rivax-header-nav li.rivax-mega-menu-4-col .sub-menu {
    right: 0;
    left: auto;
}

.rivax-header-v-nav .sub-menu {
    padding-right: 20px;
    padding-left: 0;
    border-right: 1px solid #ffffff52;
    border-left: none;
}

.rivax-header-v-nav li.menu-item-has-children > a::after {
    left: 0;
    right: auto;
}

.offcanvas-closer {
    left: 15px;
    right: auto;
}

.rivax-tag-cloud-count {
    margin-right: 5px;
    margin-left: 0;
}

.rivax-read-more.style-1:hover i {
    transform: translateX(-6px);
}

.rivax-read-more.style-1.shape-bottom::before {
    right: 0;
    left: auto;
}

.rivax-read-more.style-2::before, .rivax-read-more.style-3::before {
    right: 0;
    left: auto;
}

.post-wrapper .terms-wrapper .term-item {
    margin-left: 7px;
    margin-right: 0;
}

.post-author-wrapper .author-image img {
    margin-right: 0;
    margin-left: 10px;
}

.rivax-post-kenzo-widget .meta-wrapper > div + div::before,
.rivax-post-elastic-widget .meta-wrapper > div + div::before,
.rivax-post-modern-widget .meta-wrapper > div + div::before {
    margin-right: 0;
    margin-left: 6px;
}

.rivax-post-elastic-widget .post-wrapper .content-wrapper {
    padding-right: 20px;
    padding-left: 0;
}

.rivax-post-modern-widget .post-wrapper .top-content {
    left: 0;
    right: auto;
}

.rivax-post-modern-widget .post-wrapper .top-content i {
    margin-left: 4px;
    margin-right: 0;
}

.rivax-divider-heading.divider-style-10 .title::before {
    transform: skewX(15deg);
}


.rivax-divider-heading.divider-style-14 .title::before,
.rivax-divider-heading.divider-style-14 .title::after {
    right: 0;
    left: auto;
}

.rivax-divider-heading.divider-style-14 .title::after {
    right: 100%;
    left: auto;
    transform: translateX(50%) skewX(-30deg);
}

.rivax-posts-wrapper .post-wrapper .title-badge i {
    margin-left: 5px;
    margin-right: 0;
}

.carousel-pagination-wrapper.type-bullets.rivax-position-center-left .carousel-pagination {
    align-items: flex-end;
}

.carousel-pagination-wrapper.type-bullets.rivax-position-center-right .carousel-pagination {
    align-items: flex-start;
}

.rivax-genesis-container .arrow {
    transform: rotate(225deg) translateY(-50%);
}